# Python
*.pyc
__pycache__/
*.pytest_cache/
.env
.env.*

# Virtualenv
.venv/
venv/
ENV/

# Django
*.log
*.pot
*.py[cod]
*.sqlite3
/db.sqlite3
main_project/db.sqlite3

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Ignore local build artifacts
build/
dist/
*.egg-info/

# Keep docs (we want it in repo for GitHub Pages)
!docs/
